@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body 
{
  width: 100vw;
  overflow-x: hidden;
  margin: 2rem 0;
  background-color: black;
  color: white;
}

a div
{
  text-decoration: none;
  border: none;
}

.container 
{
  width: 90vw;
  max-width: 1280px;
  min-height: 720px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap:1rem;
  /* align-items: flex-start; */
}


.each-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.each-card h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.each-card p {
    color: #cccccc;
    margin-bottom: 0.3rem;
}

.each-card .find-more {
    /* display: block; */
    text-align: left;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.each-card .find-more:hover {
    text-decoration: underline;
}

.each-card:hover 
{
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.find-more 
{
  color: #8080ff;
}

@media(max-width:768px)
{
    .each-card h2 {
      font-size: 1.15rem;
      margin-bottom: 0.5rem;
  }
  .each-card p {
      margin-bottom: 0.2rem;
  }
  .each-card:hover 
  {
    transform: scale(1.03);
    transition: transform 0.5s ease;
  }
}




